#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  max-height: 100vh;

}

.mainDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #EEEEEE;
  border-radius: 20px;
  background-color: #31363F;
  padding: 50px;
  flex-wrap: wrap;
}

.gameArea {
  display: flex;
  height: 80%;
  gap: 40px;
  flex-wrap: wrap;
}

.gameArea>div {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.separator {
  border: 1px solid #EEEEEE;
  height: 45vh;
}

.instructions {
  color: #EEEEEE;
  text-align: justify;
}

@media screen and (max-width: 945px) {

  .separator {
    min-width: 45vw;
    margin-top: 10px;
  }

  .gameArea {
    align-items: center;
    flex-direction: column;
    gap: 20px;
  }

  .mainDiv {
    padding: 20px;
  }

}